.navbar {
    background-color: #000066 !important;
    color: white; /* Optional: Set text color to white for better contrast */
    padding: 10px; /* Optional: Adjust padding for better spacing */
  }

  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/css/background.jpg'); 
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
  }



 .custom-link {
  /* background-color: rgb(233, 230, 230)!important; */
  color: rgb(8, 5, 5)!important;
  /* border-color: rgb(137, 137, 137)!important;  */
  /* background-color: rgb(233, 230, 230)!important;
  color: rgb(8, 5, 5)!important;
  border-color: rgb(158, 157, 157)!important;  */
}

.custom-link.active {
  background-color: rgb(233, 230, 230)!important;
  color: rgb(8, 5, 5)!important;
  border-color: rgb(158, 157, 157)!important; 
}



.uploaded-image{
  width: 300px;
  height: auto;
  max-width:100%;
  max-height:300px;
}

.avatar-sm {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.styled-img {
  width: 300px; /* Set the width as needed */
  height: 200px; /* Set the height as needed */
  background-image: url('{{ asset("images/example.jpg") }}'); /* Path to your image using asset() helper */
  background-size: cover; /* Adjust as needed */
}

.styled-iframe {
  width: 700px; /* Set width */
  height: 500px; /* Set height */
  /* border: 2px solid #ccc; Set border */
  border-radius: 8px; /* Set border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

/* pagination */
/* .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: gray!important;
  color: #fff;
  text-decoration: none;
  border-color:  #f2f2f3!important;
} */

.list-group-item h6 {
  font-size: smaller; 
}






