.navbar {
    background-color: #000066 !important;
    color: white; /* Optional: Set text color to white for better contrast */
    padding: 10px; /* Optional: Adjust padding for better spacing */
  }

  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/css/background.jpg'); 
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
  }

.list-group-item.active {
    background-color: rgb(228, 223, 223);
    color: rgb(8, 5, 5);
    border-color: rgb(158, 157, 157); 
  }


